spring:
  datasource:
    url: jdbc:h2:mem:paperless_test;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  rabbitmq:
    listener:
      simple:
        auto-startup: false
      direct:
        auto-startup: false

  elasticsearch:
    uris: http://localhost:9200

logging:
  level:
    org.springframework: WARN
    org.hibernate: WARN
